@charset "UTF-8";

td {
	border: 1px solid black;
	padding: 5px;
}

button {
	font-size: 25px;
}

h1 {
	font-size: 50px;
}

table {
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-collapse: collapse;
  	border-spacing: 0;
}